<!------------------------------------------------------------------------------------
El presente código posee la finalidad de aprender y practicar conocimientos intermedios 
del lenguaje de programación "JavaScripts" y "Python" con el framework "Flask", en ningún momento se pretende monetizar o 
hacer apropiación del trabajo del autor en el que se inspira el diseño y parcialmente la codificación. 
-------------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------------
Código y diseño inspirado del canal: Vida MRR - Programacion web "https://www.youtube.com/@vidamrr" 
link-video: https://youtu.be/qWFwYLUGWrc
link-repositorios: https://github.com/marcosrivasr/Curso-de-NodeJS
-------------------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>

<body>

    <body>
        <form action="">
            <div>
                <div class="dropArea">
                    <h2>Arrastra un archivo UwU</h2>
                    <span>O</span>
                    <span class="botonArchivos">Selecciona tus archivos</span>
                    <input type="file" name="archivos" id="fileInput" hidden multiple>
                </div>
                <div id="preview">
                </div>
            </div>
            <button onclick="uploadFiles()">Subir archivos</button>
            <div id="archivosSeleccionados"></div>
        </form>
    </body>
</body>
<script src="../static/js/index.js"></script>
<script src="https://kit.fontawesome.com/9c61ead5a6.js" crossorigin="anonymous"></script>

</html>